/*
Primary:        #F4551E
Secondary:      #C084E9
Accent1:        #F99106
Accent2:        #201411
White:          #E5E2E8
Secondary Text: #212121
*/

input {
    display: block;
    width: 300px;
    height: 40px;
  }

input.focused {
    border: 2px solid #c084e9;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #e8ccfb;
    outline: none;
}

input.error {
    border: 2px solid #f4551e;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #fac6c6;
    outline: none;
}

error-text {
    display: inline;
    color: "red";
    text-align: "left";
}

label {
    display: block;
    width: 300px;
    height: 24px;
    text-align: left;
    margin-bottom: 10px;
}
