/*
$primary:        #F4551E;
$secondary:      #C084E9;
$accent1:        #F99106;
$accent2:        #201411;
$white:          #E5E2E8;
$secondary-text: #212121;
*/

$primary: #F4551E;
$secondary: #C084E9;
$error: #f41e1e;
$focused-shadow: #e8ccfb;
$error-shadow: #fac6c6;
$width: 300px;

$font: 1em sans-serif;

@mixin border($color, $shadow) {
  border: 2px solid $color;
  border-radius: 2px;
  box-shadow: 0 0 0 5px $shadow;
  outline: none;
}

@mixin textProperties() {
    display: block;
    font: $font;
    height: 24px;
    text-align: left;
    margin-bottom: 10px;
}


input {
    display: block;
    font: $font;
    width: $width;
    height: 40px;
    border-radius: 2px;

    &.focused {
        @include border($secondary, $focused-shadow);
    }

    &.error {
        @include border($error, $error-shadow);
    }
}

.hint-text {
    @include textProperties();
    width: $width;
    color: #212121;
    margin-bottom: 4px;
    justify-content: space-around;
}

.label-container {
    display: flex;
    width: $width;

    label {
        @include textProperties();
        flex: 1;
        text-align: left;
    }

    .optional-text {
        @include textProperties();
        flex: 1;
        text-align: right;
      }
}

.error-text {
    @include textProperties();
    width: $width;
    color: red;
}



