@use '../../styles/base' as *;
@use '../../styles/abstracts' as *;

.title-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.title-divider {
	position: relative;
	&::before {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		width: 100rem;
		border-bottom: 1px solid var(--text-black-primary);
		transform: translateX(calc(100rem));
	}
	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		width: 100%;
		border-bottom: 1px solid var(--text-black-primary);
	}
}

.subtitle {
  color: var(--color-accent-2);
  padding-top: 1.6rem;
}
