.marquee {
  background-color: var(--color-secondary);
  padding: 1.2rem 1.6rem;
  overflow-x: hidden;
  white-space: nowrap;
	border-bottom: 1px solid var(--text-black-primary);
	border-top: 1px solid var(--text-black-primary);
  & span {
    animation: 30s linear marquee infinite;
    display: block;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
