@use '../../styles/base' as *;
@use '../../styles/abstracts' as *;

.header {
  position: fixed;
  background-color: var(--background-color);
  padding: 2.4rem 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
	border-bottom: 1px solid var(--text-black-primary);
  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & ul {
    display: flex;
    gap: 6.4rem;
    & > li {
      list-style: none;
      text-transform: uppercase;
    }
  }

  &__logo {
    height: 6.4rem;
  }

  &.white {
    background-color: transparent;
		border: none;
  }

  &.white .btn.btn--header {
    color: var(--text-white-primary);
  }
}
