@use '../../styles/base' as *;
@use '../../styles/abstracts' as *;

input[type='checkbox'] {
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--color-neutral-200);
  border-radius: 2px;
  margin-right: 0.5rem;
  background-color: transparent;
  position: relative;

  &:checked {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  &:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.label-container {
  display: flex;
    align-items: center;
  @extend .p--large--medium;

  label {
    display: flex;
    align-items: start;
    @extend .p--medium;
  }
}
