@use '../../styles/base' as *;
@use '../../styles/abstracts' as *;

.btn {
  &,
  &:link,
  &:visited {
    padding: 1rem 2rem;
    @extend .p--large;
    cursor: pointer;
    display: inline-block;
    border: none;
    text-decoration: none;
    border-radius: 2px;
  }

  &--primary {
    background-color: var(--color-accent-1);
    transition: background-color 0.2s;
    color: var(--text-black-primary);
    &:hover {
      background-color: #ffaf44;
    }

    &:active {
      background-color: #f5c27e;
    }
  }

  &--secondary {
    color: var(--text-black-primary);
    background-color: var(--color-secondary);
    transition: background-color 0.2s;
    &:hover {
      background-color: #cf9bf2;
    }

    &:active {
      background-color: #dcb1fa;
    }
  }
  &--outline {
    color: var(--text-black-primary);
    background-color: transparent;
    transition: background-color 0.2s;
    box-shadow: inset 0 0 0 1px var(--color-accent-2),
      inset 0 0 0 1px var(--color-accent-2), inset 0 0 0 1px var(--color-accent-2);
    &:hover {
      background-color: #ffaf44;
    }

    &:active {
      background-color: rgba(249, 145, 6, 0.25);
    }
  }
  &#{&}--link {
    color: var(--text-black-primary);
    background-color: transparent;
    transition: background-color 0.2s;
    padding: 1rem 0.4rem;
    transition: border 0.2s;

    @extend .p--large;
    &:hover {
      color: var(--color-neutral-400);
    }

    &:active {
      color: var(--color-neutral-700);
      text-decoration: underline var(--color-neutral-700);
    }
  }

  &#{&}--header {
    color: var(--text-black-primary);
    background-color: transparent;
    padding: 0;
    @include body-text(600, 2rem, 2.4rem);
    border-bottom: 2px solid transparent;
    transition: all 0.1s;
    border-radius: 0;
    &:hover {
      border-bottom: 2px solid var(--color-primary);
    }

    &:active {
      color: var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
    }

		&.active{
			color: var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
		}
  }

  &.disabled {
    opacity: 38%;
    pointer-events: none;
  }
}
