.recent-projects {
  margin-top: 6.4rem;
  border-bottom: 1px solid var(--text-black-primary);

  &-item {
    display: flex;
    gap: 8rem;

    position: relative;

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100rem;
      border-bottom: 1px solid var(--text-black-primary);
      transform: translateX(calc(-100rem));
    }
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid var(--text-black-primary);
    }
    &:last-child::after,
    &:last-child::before {
      border: none;
    }

    &:nth-of-type(2) img {
      border-top: 1px solid var(--text-black-primary);
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      gap: 0.8rem;
    }

    &__title {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100rem;
        border-bottom: 1px solid var(--text-black-primary);
        transform: translateX(calc(-100rem));
      }
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid var(--text-black-primary);
      }
    }

    &__description {
      margin: 4rem 0;
      text-align: right;
    }
    & img {
      height: 60rem;
			width: 60rem;
      flex: 0 0 60%;
      object-fit: cover;
      border-left: 1px solid var(--text-black-primary);
      border-right: 1px solid var(--text-black-primary);
    }
  }
}
