.image {
  &-list {
    gap: 2rem;
    padding: 12.4rem;
    display: inline-block;
    white-space: nowrap;
    animation: 30s linear image-slider infinite;

    & img {
      height: 25.6rem;
      width: 27.2rem;
      margin: 0 1rem;
    }
  }
}

@keyframes image-slider {
  0% {
    transform: translateX(-10vw);
  }
  50% {
    transform: translateX(calc(110vw - 100%));
  }
  100% {
    transform: translateX(-10vw);
  }
}
