.image-slider {
  display: flex;
  gap: 2rem;
  padding: 12.4rem;
  & img {
    height: 25.6rem;
    width: 27.2rem;
    animation: 30s linear marquee infinite;
  }
}

@keyframes image-slider {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - 100%));
  }
  100% {
    transform: translateX(0);
  }
}
